.card-container {
    width:800px;
    background-color:#f8f8f8;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    display:flex;
    box-shadow:0px 0px 10px rgb(0 0 0 / 25%);
    border-radius:10px;
    padding:20px;
}

table {
    border-collapse: collapse;
    width: 80%;
}

tbody {
    width: 100%;
    overflow-y: auto;
    height: 350px;
    display: block;
}

thead, tbody tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

th, td {
    text-align: left;
    padding: 8px;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
}

th {
    background-color: grey;
}

td {
    background-color: lightgrey;
}

.form-container {
    width:80%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row;
    padding-bottom:10px
}

.input-inputs {
    height:30px;
    width:175px;    
}

.select-selects {
    height:30px;
    width:175px;
}

.button-buttons {
    width:100px;
    height:30px
}

.popup-container {
    width:300px;
    height:150px;
    display:flex;
    align-items:center;
    justify-content:left;
    padding:20px;
}

.display-linebreak {
    white-space: pre-line;
  }