.app-container {
    align-items:center;
    justify-content:center;
    display:flex;
}

.title-container {
    padding:10px;
}

.login-container {
    margin-top:50px;
    width:100%;
    align-items:center;
    justify-content:space-evenly;
    display:flex;
    flex-direction:row;
}

.col-container {
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction:column;
}

.logout-container {
    position:absolute;
    top:20px;
    right:20px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:100%;
}

.admin-container {
    width:100%;
    align-items:center;
    justify-content:space-evenly;
    display:flex;
    flex-direction:column;
}

.name-container {
    padding:0px 40px;
    font-size:18px;
}