.pagination {
    padding:10px;
    /* background-color:black; */
  }
  
  .pagination button {
    margin-right:0.5rem;
    cursor:pointer;
    padding:7.5px 15px;
    height:30px;
    width:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    border:0px;
    background-color:#f8f8f8;
    text-decoration:underline;
  }
  
  .pagination button:disabled {
    background-color:grey;
    color:#fff;
    text-decoration:none;
    cursor:not-allowed;
  }